<?xml version="1.0" encoding="UTF-8">
<!DOCTYPE html>
<html lang="lt-LT">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
	<title>Žalų valdymo sistema</title>
	<link href="@Url.Content("~/Content/less/main.css")" rel="stylesheet" type="text/css"/>
	 <link rel="shortcut icon" href="../../Content/images/favicon.ico" type="image/x-icon" />
</head>
<body>
	<div id="divlogindisplay">
		@Html.Partial("_LogOnPartial")
	</div>
	@Html.Partial("NotifyViews")
	<script type="text/x-handlebars" data-template-name="tmpAccidentRow">
		@Html.Partial("Accidents/tmpAccidentRow")
	</script>
	<script type="text/x-handlebars" data-template-name="tmpAccident_Claims">
		  @Html.Partial("Accidents/tmpAccident_Claims")
	</script>
	<script type="text/x-handlebars" data-template-name="tmpSidePanel">
		  @Html.Partial("Accidents/tmpSidePanel")
	</script>
	<script type="text/x-handlebars" data-template-name="tmpNavbar">
	  <ul id="ulMainMenu">
		 <li><a class="notactive" {{action viewAccidents}}>ĮVYKIAI</a></li>
		 <li><a class="notactive" {{action viewClaims}}>ŽALŲ REGULIAVIMAS</a></li>
		 <li><a class="notactive" {{action viewMap}}>ŽEMĖLAPIS</a></li>
		 <li><a class="notactive" {{action viewReports}}>ATASKAITOS</a></li>
		 <li><a class="notactive" {{action viewLists}}>SĄRAŠAI</a></li>
		 <li style="float:right;"><a class="notactive" {{action viewAdmin}}>ADMINISTRAVIMAS</a></li>
	  </ul>
	</script>
	<script type="text/x-handlebars" data-template-name="tmpApplication">
  {{view App.NavbarView controllerBinding="controller.controllers.navbarController"}}	 
<div class="colmask hidden" id="tabAccidents">
	<div class="colleft" id="divAccidentsList">
		<div class="col1 content">@Html.Partial("Accidents/tmpAccidentsMain")</div>
		<div class="col2 content">{{view App.SidePanelView}}</div>
	</div>
	<div class="content hidden" id="divAccidentEdit">divAccidentEdit</div>
</div>
<div class="content hidden" id="tabClaims">tmpClaims!</div>
<div class="content hidden" id="tabMap">tmpMap!</div>
<div class="content hidden" id="tabReports">tmpReports!</div>
<div class="content hidden" id="tabLists">{{outlet listsOutlet}}</div>
<div class="content hidden" id="tabAdmin">{{outlet adminOutlet}}</div>
	</script>
<script>
	var oGLOBAL = { appStart: new Date().getTime(), logFromStart: function (msg) { console.warn("logFromStart. " + msg + " Time from start:" + (new Date().getTime() - oGLOBAL.appStart)); } }; 
</script>

@*<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=AIzaSyBmiyz9zmTD_hY7qT7Degr0o7tqAzjKQos' type='text/javascript'></script>
*@<script src="@Url.Content("~/Scripts/Main/jquery-1.8.0.combined1.min.js")" type="text/javascript" charset="utf-8"></script>

<script src="@Url.Content("~/Scripts/My/ui-ember.js")" type="text/javascript"  charset="utf-8"></script>
<script src="@Url.Content("~/Scripts/My/General.js")" type="text/javascript"  charset="utf-8"></script>
<script src="@Url.Content("~/Scripts/My/oCONTROLS.js")" type="text/javascript"  charset="utf-8"></script>
<script src="@Url.Content("~/Scripts/Ember/ember-rest.js")" type="text/javascript"  charset="utf-8"></script>
<script src="@Url.Content("~/Scripts/Ember/appStart.js")" type="text/javascript"  charset="utf-8"></script>
<script src="@Url.Content("~/Scripts/My/Views.js")" type="text/javascript"  charset="utf-8"></script>
<script src="@Url.Content("~/Scripts/Forms/accidents.js")" type="text/javascript"  charset="utf-8"></script>

<script src="@Url.Content("~/Scripts/My/clsEditableForm.js")" type="text/javascript"  charset="utf-8"></script>
<script src="@Url.Content("~/Scripts/My/ui-checkbox.js")" type="text/javascript"  charset="utf-8"></script>
<script src="@Url.Content("~/Scripts/My/MyPlugins_ComboBox.js")" type="text/javascript"  charset="utf-8"></script>
<script src="@Url.Content("~/Scripts/My/MyPlugins.js")" type="text/javascript"  charset="utf-8"></script>
<script src="@Url.Content("~/Scripts/Plugins/plugs.min.js")" type="text/javascript"  charset="utf-8"></script>
<script src="@Url.Content("~/Scripts/Plugins/jquery.notify.min.js")" type="text/javascript"  charset="utf-8"></script>
<script src="@Url.Content("~/Scripts/Forms/accidentCard.js")" type="text/javascript"  charset="utf-8"></script>
@*<script src="@Url.Content("~/Scripts/Forms/lists.js")" type="text/javascript"  charset="utf-8"></script>
<script src="@Url.Content("~/Scripts/Forms/admin.js")" type="text/javascript"  charset="utf-8"></script>*@
<script src="@Url.Content("~/Scripts/Ember/appEnd.js")" type="text/javascript"  charset="utf-8"></script>

@*<script src="@Url.Content("~/Scripts/Final/combined.min.js")" type="text/javascript"></script>*@
</body>
</html>
