@model CC.Models.LogOnModel
@{
   ViewBag.Title = "Prisijungimas prie sistemos";
   Layout = "LogOn_Layout.cshtml";
}

@{ Html.RenderAction("Header", "Account"); }

	<div class="colmask">

		<div class="row">

			<div class="col three">

			</div>

			<div class="col six">

				@using (Html.BeginForm()) {

					<div class="shadowed-white-box margin-t100">

						<fieldset>

							<legend>Naudotojų prisijungimas</legend>

							<div class="control-group">
								@Html.LabelFor(m => m.Email)
								@Html.TextBoxFor(m => m.Email, new { @class = "input input-block-level customInputProperty" }) @Html.ValidationMessageFor(m => m.Email)
							</div>

							<div class="control-group">
								@Html.LabelFor(m => m.Password)
								@Html.PasswordFor(m => m.Password, new { @class = "input input-block-level customInputProperty" }) @Html.ValidationMessageFor(m => m.Password)
							</div>

							<div class="control-group">
								@Html.ActionLink("Pamiršote slaptažodį?", "RecoverPassword", null, new {} )
							</div>

							<div class="control-group control-group-remember-me control-group-checkbox">
								@Html.CheckBoxFor(m => m.RememberMe) @Html.LabelFor(m => m.RememberMe)
							</div>

							@Html.ValidationSummary(true, "Nepavyko prisijungti.")

							<div class="control-group">
								<input type="submit" class="btn btn-large" name="submitButton" value="Prisijungti" />
							</div>

							@Html.ActionLink("Sukurti naują vartotoją", "Register", null, new {})
							
						</fieldset>
						
					</div>
				}

			</div>

			<div class="col three">

			</div>

		</div><!-- row -->

	</div><!-- colmask -->