@model CC.Models.LogOnModel
@{
   ViewBag.Title = "Prisijungimas prie sistemos";
   Layout = "LogOn_Layout.cshtml";
}
<p>
   @{ Html.RenderAction("Header", "Account"); }
</p>
@using (Html.BeginForm())
{
    <div class="registration-form-wrapper">
        <div class="shadow registration-form">
            <div class="content">
                <h2>Naudotojų prisijungimas</h2>
                <div id="divLogOn">
                    @Html.LabelFor(m => m.Email)
                    <div class="input-wrapper">
                        @Html.TextBoxFor(m => m.Email, new { @class = "input customInputProperty" }) @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    @Html.LabelFor(m => m.Password)
                    <div class="input-wrapper">
                        @Html.PasswordFor(m => m.Password, new { @class = "input customInputProperty" }) @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    @Html.ActionLink("Pamiršote slaptažodį?", "RecoverPassword", null, new { })
                    <div class="remember-me">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>
            <div>@Html.ValidationSummary(true, "Nepavyko prisijungti.")</div>
            <input class="btn" type="submit" name="submitButton" value="Prisijungti" class="button customButtonPropertyLogin" />
        </div>
    </div>
}