<?xml version="1.0" encoding="UTF-8">
<!DOCTYPE html>
<html lang="lt-LT">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
	<title>Žalų valdymo sistema</title>
	<link href="@Url.Content("~/Content/less/main6.css")" rel="stylesheet" type="text/css"/>
	 <link rel="shortcut icon" href="../../Content/images/favicon.ico" type="image/x-icon" />
	<style type="text/css">
		
	</style>
</head>
<body>
	<div id="divlogindisplay">
		@Html.Partial("_LogOnPartial")
	</div>
		@Html.Partial("NotifyViews")
	<script id="tmpAccidentRowID" type="text/x-handlebars" data-template-name="tmpAccidentRow">
		@Html.Partial("Accidents/tmpAccidentRow")
	</script>
	<script type="text/x-handlebars" data-template-name="tmpAccident_Claims">
		  @Html.Partial("Accidents/tmpAccident_Claims")
	</script>
	<script type="text/x-handlebars" data-template-name="tmpNavbar">
	  <ul id="ulMainMenu">
		 <li><a class="notactive" {{action viewAccidents}}>ĮVYKIAI</a></li>
		 <li><a class="notactive" {{action viewClaims}}>ŽALŲ REGULIAVIMAS</a></li>
		 <li><a class="notactive" {{action viewMap}}>ŽEMĖLAPIS</a></li>
		 <li><a class="notactive" {{action viewReports}}>ATASKAITOS</a></li>
		 <li><a class="notactive" {{action viewLists}}>SĄRAŠAI</a></li>
		 <li style="float:right;"><a class="notactive" {{action viewAdmin}}>ADMINISTRAVIMAS</a></li>
	  </ul>
	</script>
	<script type="text/x-handlebars" data-template-name="tmpApplication">
  {{view App.NavbarView controllerBinding="controller.controllers.navbarController"}}	 
<div class="colmask hidden" id="tabAccidents">
	<div class="colleft" id="divAccidentsList">
		<div class="col1 content">@Html.Partial("Accidents/tmpAccidentsMain")</div>
		<div class="col2 content">@Html.Partial("Accidents/tmpSidePanel")</div>
	</div>
	<div class="content hidden" id="divAccidentEdit">divAccidentEdit</div>
</div>
<div class="content hidden" id="tabClaims">tmpClaims!</div>
<div class="content hidden" id="tabMap">tmpMap!</div>
<div class="content hidden" id="tabReports">tmpReports!</div>
<div class="content hidden" id="tabLists">{{outlet listsOutlet}}</div>
<div class="content hidden" id="tabAdmin">tmpNavbar!</div>
	</script>
<script>
	var oGLOBAL = { appStart: new Date().getTime(), logFromStart: function (msg) { console.warn("logFromStart. " + msg + " Time from start:"+(new Date().getTime() - oGLOBAL.appStart)); } }; 
</script>
<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=AIzaSyBmiyz9zmTD_hY7qT7Degr0o7tqAzjKQos' type='text/javascript'></script>
<script src="@Url.Content("~/Scripts/Main/jquery-1.8.0.combined.min.js")" type="text/javascript" charset="utf-8"></script>
<script src="@Url.Content("~/Scripts/Final/combined7.min.js")" type="text/javascript"></script>
</body>
</html>
