@{
    string LogoutUrl = Url.Action("LogOff", "Account"),
           LoginUrl = Url.Action("LogOn", "Account");
}
@*
<div style="background-color: #A59894;; color: #FFFFFF; width: 100%;">
*@
<div id="header">

    <table border="0" cellpadding="0" cellspacing="0" style="width: 98%; margin:0 auto;">
        <tr><td class="logo" @*style="width: 10px;"*@>
                    <img src= "@Url.Content("~/Content/images/Logo.png")" alt="" />
        </td><td style="font-size: 10pt; width: 100px;"><strong>Claims</strong>Control </td>
            @if (Request.IsAuthenticated) {
                <text> 
                    <td><span id="spanLogAccount">@CC.Classes.UserData.Account</span></td>
                    <td class="user"><a class="whiteLink" id="userLink" href="#">@CC.Classes.UserData.UserName</a></td>
                    <td class="logOut"><a href='#' class="whiteLink" onclick="location='@LogoutUrl'">Atsijungti</a></td>
                </text>
            }
            else {
                <td>
                    <span style="font-weight: bold; font-size: 8pt;">Transporto žalų valdymo sistema</span>
                </td><td style="width: 10px; padding: 0px;">
                    <img src= "@Url.Content("~/Content/images/Zvaigzde.png")" alt="Žvaigždė" />
                </td>
                <text> <td style="width: 110px;">
                    <span id='spanLogAction' onclick="location='@LoginUrl'">Prisijungti</span></td><td style="width: 100px;">
                        <a class="whiteLink"  id="userLink" href="#">@CC.Classes.UserData.UserName</a></td>
                </text>
            }
        </tr>
    </table>
</div>
